{% extends "base.html" %}

{% block title %}Open Door{% endblock title %}
{% block styles %}
<style>
  h2.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  article:last-child, pre:last-child, section {
    margin-bottom: 0px;
  }
  main+footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
</style>
{% endblock styles %}

{% block content %}
<section>
  <h2 class="title">
    <img src="/static/logo.svg" alt="" width="48" height="48">
    Opening Door
  </h2>
  <article>
    <h8>Door</h8>
    <pre>{{ door | json_encode(pretty=true) }}</pre>
    <h8>Response</h8>
    <pre>{{ response | json_encode(pretty=true) }}</pre>
  </article>
</section>
{% endblock content %}