target/*
# allow x86_64 release binary
!target/x86_64-unknown-linux-gnu/
target/x86_64-unknown-linux-gnu/*
!target/x86_64-unknown-linux-gnu/release/
target/x86_64-unknown-linux-gnu/release/*
!target/x86_64-unknown-linux-gnu/release/door25-cli
# allow aarch64 release binary
!target/aarch64-unknown-linux-gnu/
target/aarch64-unknown-linux-gnu/*
!target/aarch64-unknown-linux-gnu/release/
target/aarch64-unknown-linux-gnu/release/*
!target/aarch64-unknown-linux-gnu/release/door25-cli
Dockerfile
.dockerignore
.git
.gitignore
